<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Structure</title>
    <link rel="stylesheet" href="/styles/fee.css">
</head>
<body>
    <h1>Hostel Fee Structure</h1>
    <table>
        <thead>
          <tr>
            <th> Program</th>
            <th scope="col" colspan="">Gender</th>
            <th scope="col">Duration</th>
            <th scope="col">Hostel Fee</th>
            <th> Mess Fee </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>B.Tech</td>
            <td class="item-stock">Male</td>
            <td class="item-qty">4 Months</td>
            <td class="item-price">12,000</td>
            <td>27,000</d>
          </tr>
            <tr>
                <td>B.Tech</td>
                <td class="item-stock">Female</td>
                <td class="item-qty">4 Months</td>
                <td class="item-price">12,000</td>
                <td>27,000</d>
              </tr>
          
              <tr>
                <td>M.Tech</td>
                <td class="item-stock">Male</td>
                <td class="item-qty">5 Months</td>
                <td class="item-price">17,000</td>
                <td>32,000</d>
              </tr>
         
              <tr>
                <td>M.Tech</td>
                <td class="item-stock">Female</td>
                <td class="item-qty">5 Months</td>
                <td class="item-price">17,000</td>
                <td>32,000</d>
              </tr>
          
              <tr>
                <td>PHD</td>
                <td class="item-stock">Male</td>
                <td class="item-qty">6 Months</td>
                <td class="item-price">20,000</td>
                <td>40,000</d>
              </tr>
          
              <tr>
                <td>PHD</td>
                <td class="item-stock">Male</td>
                <td class="item-qty">6 Months</td>
                <td class="item-price">20,000</td>
                <td>40,000</d>
              </tr>
              <tr>
                <td>Adhoc Faculty</td>
                <td class="item-stock">Male</td>
                <td class="item-qty">4 Months</td>
                <td class="item-price">15,000</td>
                <td>25,000</d>
              </tr>
              <tr>
                <td>Adhoc Faculty</td>
                <td class="item-stock">Female</td>
                <td class="item-qty">4 Months</td>
                <td class="item-price">15,000</td>
                <td>25,000</d>
              </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
</body>
</html>