<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/hostel.css">
</head>
<body>
    <h1>Boys Hostels</h1>
    <div class="Block">
        <table>
          <thead>
            <tr>
              <th> Year </th>
              <th scope="col" colspan="" >Block name</th>
              <th scope="col">seaters</th>
              <th scope="col">total rooms</th>
              <th> Total capacity </th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>1</td>
                <td class="item-stock">Vamsadhara</td>
                <td class="item-qty">4</td>
                <td class="item-price">100</td>
                <td>400</d>
              </tr>
              <tr>
                <td>2</td>
                <td class="item-stock">Nagavalli</td>
                <td class="item-qty">2</td>
                <td class="item-price">164</td>
                <td>328</d>
              </tr>
              <tr>
                <td>2</td>
                <td class="item-stock">Pranahitha</td>
                <td class="item-qty">2</td>
                <td class="item-price">100</td>
                <td>200</d>
              </tr>
              <tr>
                <td>3</td>
                <td class="item-stock">Indravathi</td>
                <td class="item-qty">2</td>
                <td class="item-price">150</td>
                <td>300</d>
              </tr>
              <tr>
                <td>3</td>
                <td class="item-stock">Sabari</td>
                <td class="item-qty">2</td>
                <td class="item-price">130</td>
                <td>260</d>
              </tr>
              <tr>
                <td>4</td>
                <td class="item-stock">Purna</td>
                <td class="item-qty">2</td>
                <td class="item-price">150</td>
                <td>300</d>
              </tr>
              <tr>
                <td>4</td>
                <td class="item-stock">Banganga</td>
                <td class="item-qty">2</td>
                <td class="item-price">130</td>
                <td>260</d>
              </tr>
              <tr>
                <td>M.Tech/PHD</td>
                <td class="item-stock">Saraswathi</td>
                <td class="item-qty">2</td>
                <td class="item-price">230</td>
                <td>460</d>
              </tr>
          </tbody>
          <tfoot>
          </tfoot>
        </table>
    </div>
    <h1>Girls Hostel</h1>
    <div class="Block">
    <table>
        <thead>
          <tr>
            <th> Year </th>
            <th scope="col" colspan="" >Block name</th>
            <th scope="col">seaters</th>
            <th scope="col">total rooms</th>
            <th> Total capacity </th>
          </tr>
        </thead>
        <tbody>
          <tr>
              <td>1</td>
              <td class="item-stock">Swarnamukhi</td>
              <td class="item-qty">4</td>
              <td class="item-price">40</td>
              <td>160</d>
            </tr>
            <tr>
              <td>2</td>
              <td class="item-stock">Krishna Veni</td>
              <td class="item-qty">4</td>
              <td class="item-price">40</td>
              <td>160</d>
            </tr>
            <tr>
            <tr>
              <td>3</td>
              <td class="item-stock">Bhima</td>
              <td class="item-qty">2</td>
              <td class="item-price">130</td>
              <td>260</d>
            </tr>
            <tr>
              <td>4</td>
              <td class="item-stock">Purna</td>
              <td class="item-qty">2</td>
              <td class="item-price">80</td>
              <td>160</d>
            </tr>
            <tr>
              <td>4</td>
              <td class="item-stock">Thungabhadra</td>
              <td class="item-qty">2</td>
              <td class="item-price">80</td>
              <td>160</d>
            </tr>
            <tr>
                <td>M.Tech/PHD</td>
                <td class="item-stock">Thungabhadra</td>
                <td class="item-qty">2</td>
                <td class="item-price">80</td>
                <td>160</d>
              </tr>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
    </div>
</body>
</html>