<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/styles/index.css">
    <style>
    </style>
<body>
<header>
    <div class="wrapper">
        <div class="logo">
          <img src="https://upload.wikimedia.org/wikipedia/en/3/36/NIT_Andhra_Pradesh.png" alt="">
        </div>
            <ul class="nav-area">
            <li><a href="/officers">Administration</a></li>
            <li><a href="/hostel">Hostel</a></li>
            <li><a href="/fee">Fee Structure</a></li>
            <li><a href="/login">Register</a></li>
            </ul>
    </div>
    <div class="container">
        <div class="text">
            <p class="heading">Vision of NIT-AP Hostels</p>
            <p class="para">The vision of NIT Hostels is to provide best facilities for a safe and comfortable stay
            and
            to maintain a
            conducive environment for the students, where knowledge is shared, creativity is developed and
            fraternity exist in a cross cultural background, which in turn will help the students to excel in
            academics and management skills.</p>
            <p class="heading">Mission of NIT-AP Hostels</p>
            <ol>
                <li>
                    <p>1.To provide a safe environment which fosters the residing students to excel in academics and
                    extra
                    and co-curricular activities. </p>
                </li>

                <li>
                    <p>2.To provide nutritious food, resources for extracurricular activities, medical needs that will
                    aid
                    in the holistic development of students. </p>
                </li>

                <li>
                    <p>3.To maintain a group of staff’s and hostel representatives who are dedicated towards the
                    welfare
                    of students through a feedback management system.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</header>
</body>
</html>