<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Officers</title>
    <link rel="stylesheet" href="/styles/officers.css">
</head>
<body>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="/images/profile.png" alt="Jane">
            <div class="container">
              <h2>Jaswanth</h2>
              <p class="title">Area of Work : Office</p>
              <p class="title">Role : Chief Warden</p>
              
              <p>example@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/profile.png" alt="Mike" >
            <div class="container">
              <h2>Michael</h2>
              <p class="title">Area of Work : Office</p>
              <p class="title">Role : Senior Warden</p>
              <p>example@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="/images/profile.png" alt="John" >
            <div class="container">
              <h2>Kushal</h2>
              <p class="title">Area of Work : Office</p>
              <p class="title">Role : Junir Warden</p>
              <p>example@example.com</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="/images/profile.png" alt="Jane" >
              <div class="container">
                <h2>TejVarshith</h2>
                <p class="title">Area of Work : Pranahitha</p>
                <p class="title">Role : Hostel CareTaker</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="/images/profile.png" alt="Jane">
              <div class="container">
                <h2>Ganesh</h2>
                <p class="title">Area of Work : Nagavalli</p>
                <p class="title">Role : Hostel CareTaker</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="/images/profile.png" alt="Jane">
              <div class="container">
                <h2>Rahul</h2>
                <p class="title">Area of Work : Vamsadhara</p>
                <p class="title">Role : Hostel CareTaker</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <img src="/images/profile.png" alt="Jane">
              <div class="container">
                <h2>Thilak</h2>
                <p class="title">Area of Work : Krishna Veni</p>
                <p class="title">Role : Hostel CareTaker</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="card">
              <img src="/images/profile.png" alt="Jane" >
              <div class="container">
                <h2>Moksha</h2>
                <p class="title">Area of Work : Office</p>
                <p class="title">Role : CCTV and Security</p>
                <p>example@example.com</p>
                <p><button class="button">Contact</button></p>
              </div>
            </div>
          </div>

      </div>
</body>
</html>